{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
        <form method = "POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type ="submit"> Sign Up </button>
        </form>
    {% endblock %}