<!DOCTYPE html>
<html>
<head>
	{% block title %}
	<title>Knowhere</title>
	{% endblock %}
	<!-- for the map -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
  	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
	integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
	crossorigin=""></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 90%;
			width: 50vw;
		}
	</style>
</head>
<body>
	<ul>
		<li><a href="#">Knowhere</a></li>
		{% if user.is_authenticated %}
			<li> <a href = "#"> Log out </a></li>
			<li> <a href = "#"> Profile </a></li>
			{% else %}
			<li> <a href = "#"> Sign In </a></li>
			<li> <a href = "#"> Log In </a></li>
		{% endif %}
	</ul>
	{% block content %}
	{% endblock %}
</body>
</html>