{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class = "container">
	    <form method = 'POST'>
	        {% csrf_token %}
	        {{form|crispy}}
	        <input type = "submit" value = "submit"> Create </button>
	    </form>
	</div>
{% endblock %}