{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<form method = 'POST'>
    	{% csrf_token %}
    	{{form|crispy}}
    	Do you want to delete {{object.name}}
    	<button type = "submit"> Delete </button>
	</form>
{% endblock %}