{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	{% for company in companies %}
		{% if company.category == category %}
	    <p>
	        <h1>
	        	<a href="{% url 'company_detail'  company.category company.id %}">{{company.name}}</a> 
	        </h1>
		</p>
		{% endif %} 
	{% endfor %}
{% endblock %}
