{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="get">
    {{ filter.form|crispy }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for object in filter.qs %}
    <li><a href = "{% url 'company_detail' object.category object.pk %}">{{ object.name }} - {{ object.category }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}